@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Globals */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 215 25% 27%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --tw-shadow-color: #D3D3D3;
    --radix-navigation-menu-viewport-height: 3rem;
    --radix-navigation-menu-viewport-width: 3rem;
    --radix-accordion-content-height: 3rem;
    --tw-text-opacity: 1;
    --tw-space-y-reverse: 1;
    --tw-space-x-reverse: 1;

  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
    --tw-shadow-color: #D3D3D3;
    --radix-navigation-menu-viewport-height: 3rem;
    --radix-navigation-menu-viewport-width: 3rem;
    --radix-accordion-content-height: 3rem;
    --tw-text-opacity: 1;
    --tw-space-y-reverse: 1;
    --tw-space-x-reverse: 1;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
  html {
    font-size: 16px;
  }
}


/* Components */

.timeline {
  --timeline-border-width: 0.5rem;
  --timeline-padding-left: 2rem;
  .timeline-item {
    padding-left: var(--timeline-padding-left);
    position: relative;
    margin-left: 1rem;

  }
  .timeline-circle {
    --timeline-circle-size: 2rem;
    background-color: theme(colors.slate.900);
    position: absolute;
    border-radius: 50%;
    filter: drop-shadow(1px 3px 2px #D3D3D3);
    width: var(--timeline-circle-size);
    height: var(--timeline-circle-size);
    top: 0;
    left: calc(calc(var(--timeline-padding-left) + calc(var(--timeline-border-width ) / 2) - (var(--timeline-circle-size) / 2)) * -1);
  }
  .timeline-item {
    border-left: var(--timeline-border-width) solid transparent;
  }
  .timeline-item:not(:last-child) {
    border-left: var(--timeline-border-width) solid theme(colors.yellow.500);
    padding-bottom: 2rem;
    @media screen(lg) {
      padding-bottom: 4rem;
    }
    .timeline-content {
      padding-bottom: 3rem;
    }
  }
}

.mosaic-tile {
  --tile-size: 200px;
  --tile-md-size: 350px;
  --tile-lg-size: 450px;
  border:1rem solid theme(colors.yellow.500);
  border-radius: 5rem;
  box-shadow: inset 1px 1px 5px 1px black, 1px 1px 5px 1px black; 
  background-color: theme(colors.slate.900);
  color: white;
  display: flex;
  flex-shrink: 0;
  filter: drop-shadow(1px 3px 2px #D3D3D3);
  position: relative;
  transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  transition: background-color matrix3d;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  margin: auto;
  height: var(--tile-size);
  width: var(--tile-size);
  z-index: 1;

  @media screen(md) {
    height: var(--tile-md-size);
    width: var(--tile-md-size);
  }
  @media screen(lg) {
    height: var(--tile-lg-size);
    width: var(--tile-lg-size);
  }

  img {
    border-radius: 4rem;
    opacity: 0;
    transition: opacity 200ms ease-in;
    transition-delay: 200ms;
  }

  &.is-in-view {
    background-color: theme(colors.slate.900);
    background-image: none !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: center;
    img {
      opacity: 1;
      transition-delay: 500ms;
    }
  }
}

.sidebar-section {
  --sidebar-rect-width: 3rem;
  --sidebar-offset-size: calc(var(--sidebar-rect-width) / 2);
  --sidebar-offset: calc(var(--sidebar-offset-size) / 2 * -1);
  --sidebar-circle-size: 10rem;
  --sidebar-circle-half: calc(var(--sidebar-circle-size) / 2);
  --sidebar-icon-size: 5rem;
  --sidebar-icon-half: var(--sidebar-icon-size) / 2;
  --sidebar-cap-height: 7rem;
  display: flex;
  position: relative;

  .sidebar-main {
    display: flex; 
    flex-direction: column;
    padding: 2rem 0;
    gap: 4rem;
  }

  &.right {
    .sidebar {
      padding-left: var(--sidebar-circle-size);
      margin-left: var(--sidebar-offset-size);
      .sidebar-rect {
        top:0;
        right: 0;
      } 
      .sidebar-circle {
        left: var(--sidebar-offset);
        top: calc(50% - var(--sidebar-circle-half));
      }
      svg {
        top: calc(50% - var(--sidebar-icon-half));
        left: calc(var(--sidebar-offset) + var(--sidebar-icon-half));
      }
      .sidebar-top {
        border-radius: 100% 0  0  0 ;
        right: 0;
      }
      .sidebar-bottom {
        border-radius: 0 0 0 100%;
        right: 0;
      }
    }
    .sidebar-main {
      padding-left: var(--sidebar-circle-size);
    }
  }

  &.left {
    .sidebar {
      padding-right: var(--sidebar-circle-size);
      margin-right: var(--sidebar-offset-size);
      .sidebar-circle {
        left: var(--sidebar-offset);
        top: calc(50% - var(--sidebar-circle-half));
      }
      svg {
        top: calc(50% - var(--sidebar-icon-half));
        left: calc(var(--sidebar-offset) + var(--sidebar-icon-half));
      }
      .sidebar-top {
        border-radius: 0 100% 0 0;
      }
      .sidebar-bottom {
        border-radius: 0 0 100% 0;
      }
    }
    .sidebar-main {
      padding-right: var(--sidebar-circle-size);
    }
  }

  .sidebar {
    height: auto;
    position: relative;
    width: var(--sidebar-rect-width);

    .sidebar-rect {
      height: 100%;
      width: var(--sidebar-rect-width);
      background-color: theme(colors.slate.600);
      position: absolute;
      z-index: 1;
    }

    .sidebar-circle {
      position: absolute;
      height: var(--sidebar-circle-size);
      width: var(--sidebar-circle-size);
      background-color: white;
      border-radius: 50%;
      z-index: 2;
    }

    svg {
      height: var(--sidebar-icon-size);
      fill: theme(colors.slate.600);
      filter: drop-shadow(1px 3px 2px #D3D3D3);
      position: absolute;
      width: var(--sidebar-icon-size);
      z-index: 4;
    }

    .sidebar-top,
    .sidebar-bottom {
      background-color: theme(colors.slate.600);
      height: var(--sidebar-cap-height);
      width: var(--sidebar-rect-width);
      position: absolute;
      z-index: 1;
    }
    .sidebar-top {
      top: calc(var(--sidebar-cap-height) * -1);
    }
    .sidebar-bottom {
      bottom: calc(var(--sidebar-cap-height) * -1);
    }
    &.is-in-view {
      svg {
        fill: theme(colors.yellow.500);
        filter: drop-shadow(0 0 2rem theme(colors.yellow.500));
      }
    }
  }
}

.skills-container {
  --skill-icon-sizing: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 10rem;

  .skill-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .tooltip-media {
    height: var(--skill-icon-sizing);
    width: var(--skill-icon-sizing);
    filter: drop-shadow(1px 3px 2px #D3D3D3);
  }

  button {
    transform: translateX(100vw);
    transition: transform 0.75s ease-in-out;
    margin: auto;
  }

  &.is-in-view {
    button {
      transform: translateX(0);
    }
    button:nth-child(2) {
      transition-delay: 0.15s;
    }
    button:nth-child(3) {
      transition-delay: 0.30s;
    }
    button:nth-child(4) {
      transition-delay: 0.45s;
    }
    button:nth-child(5) {
      transition-delay: 0.60s;
    }
  }
}

.github-calendar {
  overflow-x: scroll;
  width: 80vw;
  .react-activity-calendar {
    margin:auto;
  }
}

