section {
  margin-bottom: 5rem;
}

/* Timeline */
.timeline {
  --timeline-border-width: 0.5rem;
  --timeline-padding-left: 2rem;
  .timeline-item {
    padding-left: var(--timeline-padding-left);
    position: relative;
    margin-left: 1rem;
  }
  .timeline-circle {
    --timeline-circle-size: 2rem;
    background-color: theme(colors.slate.900);
    position: absolute;
    border-radius: 50%;
    filter: drop-shadow(1px 3px 2px #D3D3D3);
    width: var(--timeline-circle-size);
    height: var(--timeline-circle-size);
    top: 0;
    left: calc(calc(var(--timeline-padding-left) + calc(var(--timeline-border-width ) / 2) - (var(--timeline-circle-size) / 2)) * -1);
  }
  .timeline-item {
    border-left: var(--timeline-border-width) solid transparent;
  }
  .timeline-item:not(:last-child) {
    border-left: var(--timeline-border-width) solid theme(colors.yellow.500);
    padding-bottom: 2rem;
    @media screen(lg) {
      padding-bottom: 4rem;
    }
    .timeline-content {
      padding-bottom: 3rem;
    }
  }
}

/* Mosaic Tile */
.mosaic-tile {
  --tile-size: 250px;
  --tile-md-size: 300px;
  --tile-lg-size: 350px;
  --tile-xl-size: 450px;
  border:1rem solid theme(colors.yellow.500);
  border-radius: 5rem;
  box-shadow: inset 1px 1px 5px 1px black, 1px 1px 5px 1px black; 
  background-color: theme(colors.slate.900);
  color: white;
  display: flex;
  flex-shrink: 0;
  filter: drop-shadow(1px 3px 2px #D3D3D3);
  position: relative;
  transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  transition: background-color matrix3d;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  height: var(--tile-size);
  width: var(--tile-size);
  z-index: 1;

  @media screen(md) {
    height: var(--tile-md-size);
    width: var(--tile-md-size);
  }
  @media screen(lg) {
    height: var(--tile-lg-size);
    width: var(--tile-lg-size);
  }
  @media screen(xl) {
    height: var(--tile-xl-size);
    width: var(--tile-xl-size);
  }

  img {
    border-radius: 4rem;
    opacity: 0;
    transition: opacity 200ms ease-in;
    transition-delay: 200ms;
  }

  &.is-in-view {
    background-color: theme(colors.slate.900);
    background-image: none !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: center;
    img {
      opacity: 1;
      transition-delay: 500ms;
    }
  }
}

/* Sidebar */
.sidebar-section {
  --sidebar-rect-width: 3rem;
  --sidebar-offset-size: calc(var(--sidebar-rect-width) / 2);
  --sidebar-offset: calc(var(--sidebar-offset-size) / 2 * -1);
  --sidebar-circle-size: 10rem;
  --sidebar-circle-half: calc(var(--sidebar-circle-size) / 2);
  --sidebar-icon-size: 5rem;
  --sidebar-icon-half: calc(var(--sidebar-icon-size) / 2);
  --sidebar-cap-height: 7rem;
  --sidebar-main-padding: 2rem;
  display: flex;
  position: relative;
  padding: 0 calc(var(--sidebar-rect-width) + 1rem);
  flex-direction:column;

  @media screen(lg) {
    padding: 0 var(--sidebar-circle-size); 
  }
  .sidebar-circle {
    z-index: 2;
  }
  svg {
    z-index: 3;
  }
  .sidebar-rect {
    z-index: 1;
  }
  .sidebar-main {
    display: flex; 
    flex-direction: column;
    gap: 4rem;
    z-index:4;
    .section-with {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
    &.xl {
      display: flex;
      flex-direction: column;
      @media screen(max) {
        gap: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .section-with {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0 0 0;
        .mosaic-tile {
          margin: 0 auto;
        }
        @media screen(lg) {
          gap: 3rem;
          flex-direction: row;
        }

        &.left {
          @media screen(xl) {
            gap: 3rem;
            flex-direction: row;
          }
        } 
        &.right {
          @media screen(xl) {
            gap: 3rem;
            flex-direction: row-reverse;
          }
        }
      }
    } 
  }

  &.right {
    .sidebar {
      top: 0;
      right: 0;
      .sidebar-rect {
        top:0;
        right: 0;
        position: absolute;
      } 
      .sidebar-circle {
        right: var(--sidebar-offset);
        top: calc(50% - var(--sidebar-circle-half));
      }
      svg {
        top: calc(50% - var(--sidebar-icon-half));
        right: calc(var(--sidebar-offset) + var(--sidebar-icon-half));
      }
      .sidebar-top {
        border-radius: 100% 0  0  0 ;
        right: 0;
      }
      .sidebar-bottom {
        border-radius: 0 0 0 100%;
        right: 0;
      }
    }
  }

  &.left {
    .sidebar {
      top: 0;
      left: 0;
      .sidebar-circle {
        left: var(--sidebar-offset);
        top: calc(50% - var(--sidebar-circle-half));
      }
      svg {
        top: calc(50% - var(--sidebar-icon-half));
        left: calc(var(--sidebar-offset) + var(--sidebar-icon-half));
      }
      .sidebar-top {
        border-radius: 0 100% 0 0;
      }
      .sidebar-bottom {
        border-radius: 0 0 100% 0;
      }
    }
  }

  .sidebar {
    height: 100%;
    position:absolute;
    width: var(--sidebar-rect-width);

    .sidebar-rect {
      height: 100%;
      width: var(--sidebar-rect-width);
      background-color: theme(colors.slate.600);
      position: absolute;
    }

    .sidebar-circle {
      position: absolute;
      height: var(--sidebar-circle-size);
      width: var(--sidebar-circle-size);
      background-color: white;
      border-radius: 50%;
    }
    svg,
    .sidebar-circle {
      display: none;
      @media screen(lg) {
        display: block;
      }
    }
    svg {
      height: var(--sidebar-icon-size);
      fill: theme(colors.slate.600);
      filter: drop-shadow(1px 3px 2px #D3D3D3);
      position: absolute;
      width: var(--sidebar-icon-size);
    }

    .sidebar-top,
    .sidebar-bottom {
      background-color: theme(colors.slate.600);
      height: var(--sidebar-cap-height);
      width: var(--sidebar-rect-width);
      position: absolute;
    }
    .sidebar-top {
      top: calc(var(--sidebar-cap-height) * -1);
    }
    .sidebar-bottom {
      bottom: calc(var(--sidebar-cap-height) * -1);
    }
    &.is-in-view {
      svg {
        fill: theme(colors.yellow.500);
        filter: drop-shadow(0 0 2rem theme(colors.yellow.500));
      }
    }
  }
}

.sidebar-section:nth-of-type(2) {
  padding-top: 10rem;
}

/* Skills */
.skills-container {
  --skill-icon-sizing-md: 3rem;
  --skill-icon-sizing: 5rem;
  --skill-icon-sizing-xl: 7rem;
  --skill-icon-sizing-max: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 0 var(--skill-icon-sizing-md) 0 ;
  overflow-x: hidden;

  @media screen(md) {
    padding: 0 10rem;
  }

  .skill-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .tooltip-media {
    height: var(--skill-icon-sizing-md);
    width: var(--skill-icon-sizing-md);
    @media screen(md) {
      height: var(--skill-icon-sizing);
      width: var(--skill-icon-sizing);
    }
    @media screen(xl) {
      height: var(--skill-icon-sizing-xl);
      width: var(--skill-icon-sizing-xl);
    }
    @media screen(max) {
      height: var(--skill-icon-sizing-max);
      width: var(--skill-icon-sizing-max);
    }
    filter: drop-shadow(1px 3px 2px #D3D3D3);
  }

  button {
    transform: translateX(100vw);
    transition: transform 0.75s ease-in-out;
    margin: auto;
  }

  &.is-in-view {
    button {
      transform: translateX(0);
    }
    button:nth-child(2) {
      transition-delay: 0.15s;
    }
    button:nth-child(3) {
      transition-delay: 0.30s;
    }
    button:nth-child(4) {
      transition-delay: 0.45s;
    }
    button:nth-child(5) {
      transition-delay: 0.60s;
    }
  }
}

/* Calendar */
.react-activity-calendar {
  margin: 1rem auto;
  @media screen(md) {
    margin: 4rem auto;
  }
  .react-activity-calendar__scroll-container {
    overflow: visible;
  }
}

/* Img Border */
.gold-img-border {
  border: 3px solid theme(colors.yellow.500);
}

